ion-content {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
  }
  ion-item {
    --padding-bottom: 10px;
  }
#boton {
  background-color: #0a9aeec7;
  width: 90%;
}