<ion-content>
  <div class="ion-padding-top ion-padding-bottom ion-text-center title">
    <ion-label>
      <h1>RegistroAPP</h1>
      <p>Registra tu asistencia</p>
    </ion-label>
  </div>

  <mat-card class="ion-text-center login-card" >
    <ion-card-title class="ion-text-center">
      <ion-label>
        <h2>¡Bienvenido!</h2>
      </ion-label>
    </ion-card-title>

    <ion-card-content>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Ingrese Usuario</mat-label>
          <input matInput placeholder="Ej: Juan">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Ingrese Password</mat-label>
          <input matInput type="password" placeholder="4 digitos">
        </mat-form-field>
        <button (click)="ingresar()" id="boton" mat-raised-button>Ingresar</button>
      </form>
      <!-- <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.nombreUsuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col size="12">
          <ion-button shape="block" (click)="ingresar()">Ingresar</ion-button>
        </ion-col>
      </ion-row> -->
    </ion-card-content>
    <ion-label>
      <br />
      <a routerLink (click)="restablecer()">Restablecer Contraseña</a>
    </ion-label>
  </mat-card>
</ion-content>
