<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      RegistroAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top">
    <ion-label id="titulo">
      <h1 class="ion-text-center">
        <p *ngIf="usuario">Bienvenido {{ usuario.nombreUsuario }}</p>
      </h1>

    </ion-label>
  </ion-title>

  <ion-col id="boton">
    <ion-button shape="block">Marcar Asistencia</ion-button>
  </ion-col>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-left ion-text">

    </ion-title>
  </ion-toolbar>
</ion-footer>